In [1]:
import pandas as pd

# Criando Series

In [3]:
data= [1,2,3,4,5]

In [4]:
s = pd.Series(data)

In [5]:
type(s)

pandas.core.series.Series

In [14]:
index = ["Linha " + str(i) for i in range(5)]

In [9]:
index

['Linha 0', 'Linha 1', 'Linha 2', 'Linha 3', 'Linha 4']

In [10]:
s = pd.Series(data, index=index)

In [11]:
s

Linha 0    1
Linha 1    2
Linha 2    3
Linha 3    4
Linha 4    5
dtype: int64

In [18]:
data = {
    'linhas ' + str(i) : i+1 for i in range(5)
}

In [19]:
data

{'linhas 0': 1, 'linhas 1': 2, 'linhas 2': 3, 'linhas 3': 4, 'linhas 4': 5}

In [20]:
s= pd.Series(data)

In [21]:
s

linhas 0    1
linhas 1    2
linhas 2    3
linhas 3    4
linhas 4    5
dtype: int64

In [22]:
s1 = s+2

In [23]:
s1

linhas 0    3
linhas 1    4
linhas 2    5
linhas 3    6
linhas 4    7
dtype: int64

In [24]:
s2= s+s1

In [25]:
s2

linhas 0     4
linhas 1     6
linhas 2     8
linhas 3    10
linhas 4    12
dtype: int64

# DataFrame

In [26]:
data = [[1,2,3],
        [4,5,6],
        [7,8,9]]

In [27]:
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [28]:
df1 =pd.DataFrame(data)

In [29]:
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [30]:
index= ['linha ' +str(i) for i in range(3)]
index

['linha 0', 'linha 1', 'linha 2']

In [31]:
df1=pd.DataFrame(data, index)

In [32]:
df1

         0  1  2
linha 0  1  2  3
linha 1  4  5  6
linha 2  7  8  9

In [36]:
columns = ['Coluna '+ str(i) for i in range(3)]

In [37]:
df1=pd.DataFrame(data, index, columns)

In [38]:
df1

         Coluna 0  Coluna 1  Coluna 2
linha 0         1         2         3
linha 1         4         5         6
linha 2         7         8         9