In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('dados/aluguel.csv', sep=';')
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Bot창nico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higien처polis,1,0,0,48,800.0,230.0,NaN

In [4]:
# 1 ou 2 quartos
# 3 ou 4 quartos
# 5 ou 6 quartos
# 7 ou + quartos
classes= [0, 2, 4, 6, 100]

In [6]:
quartos= pd.cut(dados.Quartos, classes) # Faz cortes de valores

In [7]:
quartos

0        (0, 2]
1        (0, 2]
2           NaN
3        (0, 2]
4        (0, 2]
5        (2, 4]
6        (0, 2]
7        (4, 6]
8        (0, 2]
9           NaN
10       (0, 2]
11       (0, 2]
12       (2, 4]
13       (0, 2]
14       (0, 2]
15       (2, 4]
16          NaN
17       (2, 4]
18       (2, 4]
19       (2, 4]
20       (0, 2]
21       (0, 2]
22       (2, 4]
23       (2, 4]
24       (0, 2]
25       (0, 2]
26          NaN
27       (2, 4]
28       (0, 2]
29          NaN
          ...
32930    (0, 2]
32931    (4, 6]
32932    (2, 4]
32933    (0, 2]
32934    (0, 2]
32935    (0, 2]
32936    (0, 2]
32937       NaN
32938    (0, 2]
32939       NaN
32940    (0, 2]
32941    (2, 4]
32942       NaN
32943    (2, 4]
32944    (2, 4]
32945    (0, 2]
32946       NaN
32947    (2, 4]
32948       NaN
32949    (2, 4]
32950    (0, 2]
32951    (0, 2]
32952    (4, 6]
32953    (0, 2]
32954       NaN
32955       NaN
32956    (2, 4]
32957    (0, 2]
32958    (0, 2]
32959       NaN
Name: Quartos, Length: 32960, dtype: category
Categories (4, interval[int64]): [(0, 2] < (2, 4] < (4, 6] < (6, 100]]

In [8]:
pd.value_counts(quartos)

(0, 2]      12419
(2, 4]       9894
(4, 6]        709
(6, 100]       87
Name: Quartos, dtype: int64

In [9]:
labels= ['1 e 2 quartos','3 e 4 quartos','5 e 6 quartos','7 e + quartos']

In [12]:
quartos= pd.cut(dados.Quartos, classes, labels=labels)

In [13]:
pd.value_counts(quartos)

1 e 2 quartos    12419
3 e 4 quartos     9894
5 e 6 quartos      709
7 e + quartos       87
Name: Quartos, dtype: int64